*{
    margin: 0;
    padding: 0;
}

/* header */
body{
    min-height: -webkit-fill-available;
    padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);  
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.header-nav{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 18vh;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 999;
    padding: 0 var(--default-padding);
    margin-top: constant(safe-area-inset-top), env(safe-area-inset-top);
    align-items: center;
}
.header-nav.toggled{
    background-color: var(--header-bg-color);
}
.header-nav.toggled .header-menu li{
    color: var(--text-default);
}
.header-menu li:hover{
    cursor: pointer;
    color: var(--btn-color) !important;
    font-weight: 600;
}
.logo:hover{
    cursor:pointer;
    transform: scale(1.05);
}
.header-menu{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 18px;
}
.header-menu li, .floating-menu li{
    list-style: none;
    color: var(--text-secondary);
    font-family: var(--default-font-family);
}
.burger-menu{
    width: 48px;
    height: 48px;
    display: none;

}
.burger-menu div{
    width: 48px;
    height: 5px;
    border-radius: 8px;
    background-color:var(--text-secondary);
    transition: all ease-in-out 0.3s;
}
.burger-menu #line2{
    transform: translateY(8px);
}
.burger-menu #line3{
    transform: translateY(16px);
}
.burger-menu .lines.toggled{
    background-color: var(--text-default);
}
.burger-menu.active #line1{
    transform: rotate(45deg) translate(7px, 15px);
}
.burger-menu.active #line2{
    opacity: 0;
}
.burger-menu.active #line3{
    transform: rotate(-45deg) translate(-8px, -0px);
}
.logo{
    height: 100%;
}
.logo img{
    height: 100%;
}
.floating-menu{
    background-color: var(--text-secondary);
    position: fixed;
    display: none;
    z-index: 999;
    width: fit-content;
    right: 0;
    margin-top: 17.5vh;
    padding: 0 var(--default-padding) 0 16px;
}
.floating-menu.active{
    display: block;
}
.floating-menu li{
    list-style: none;
    color: var(--text-default);
    font-family: var(--default-font-family);
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 18px;
}
.floating-menu li:hover{
    cursor: pointer;
    color: var(--btn-color) !important;
    font-weight: 600;
}
.whatsapp-container{
    position: fixed;
    margin: var(--default-padding);
    right: 0;
    bottom: 0;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.whatsapp-container:hover{
    cursor: pointer;
    transform: scale(1.05);
}
section{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.content-wrapper{
    gap: var(--default-padding);
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding:var(--default-padding);
}
.content-wrapper.column{
    flex-direction: column;
}

.background-video {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

.background-video video, .background-video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    object-position: center;
    z-index: -999; /* Mantenha o z-index negativo para posicionar o vídeo atrás do conteúdo */
}

.background-video-overlay {
    margin-top: 18vh;
    width: 70%;
    padding: var(--default-padding);
    z-index: 1; /* Aumente o z-index para que o overlay fique acima do vídeo */
}

.background-video-overlay.centered{
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.background-video-overlay h1,
.background-video-overlay h2,
.background-video-overlay h3,
.video-button {
    color: var(--text-secondary);
    font-family: var(--default-font-family);
}

.background-video-overlay h1 {
    font-size: var(--titles);
}

.background-video-overlay h2 {
    font-size: var(--subtitles)
}

.background-video-overlay h3 {
    font-size: var(--text);
    font-weight: 300;
    width: 65%;
    margin-top: 10px;
}

.video-button {
    background-color: var(--btn-color);
    width: fit-content;
    padding: 10px 30px;
    font-weight: 300;
    margin-top: 20px;
    z-index: 2; /* Aumente o z-index para que o botão fique acima do vídeo */
}

.video-button:hover {
    cursor: pointer;
    background-color: var(--btn-hover-color);
}

.background-pattern{
    position: absolute;
    z-index: -999;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.15;
    background-image: url(./assets/bg_pattern.png);
}

.floating-video{
    width: 55%;
}
.floating-video video{
    width: 100%;
}

.floating-video-content{
    right: 0;
    width: calc(50% - var(--default-padding));
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 10vh 0;
}
.background-video-overlay.centered .page-title{
    width: 60%;
    text-align: center;
}
.background-video-overlay.centered .page-subtitle{
    width: 60%;
    text-align: center;
}
.section-title{
    font-size: 40px;
    font-family: var(--default-font-family);
    color: var(--text-ternary);
}
.section-text{
    font-size: 16px;
    margin-top: 16px;
    font-family: var(--default-font-family);
    color: var(--text-quaternary);
    font-weight: 400;
}
.section-list{
    margin-top: 16px;
}
.list-items {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.list-items span{
    display: block;
    font-size: 18px;
    font-family: var(--default-font-family);
    color: var(--btn-color);
    font-weight: 400;
}

.section-subtititle-detail{
    font-size: 24px;
    font-family: var(--default-font-family);
    color: var(--btn-color);
    font-weight: 400;
    letter-spacing: 0.5px;
}

.section-title.cards{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}
.content-wrapper.cards {
    display: flex;
    padding: var(--default-padding) !important;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}
.cards-wrapper .card{
    width: 24%;
    display: flex;
    height: 156px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    border: 4px solid var(--text-quaternary);
    transition: color 0.3s ease-in-out
}
.card:hover{
    border: 4px solid var(--btn-color)
}
.card-text{
    text-align: center;
    width: 128px;
    font-family: var(--default-font-family);    
    color: var(--text-quaternary);
}

.video-wrapper{
    display: flex;
    align-items: center;
    margin-top: 128px;
    gap: var(--default-padding)
}
.product-wrapper{
    display: flex;
    position: relative;
    width: 100%;
    height: 40%;
    justify-content: space-between;
    align-items: center;
}

.products{
    width: 22%;
    height: 256px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.products img{
    width: 100%;
}
.special-products-container{
    justify-content: center;
    gap: 32px;
}
.special-products{
    display: flex;
    gap: 16px;
    position: relative;
    align-items: center;
}
.special-product{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.special-product .section-subtititle-detail{
    font-size: 33px;
}

.special-product img{
    height: 30vh;
    width: auto;
}
.section-8 .floating-video-content{
    margin-top: 18vh !important;
}
.background-video-overlay.form{
    padding: 0 var(--default-padding) 0 var(--default-padding);
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}
.form-title-and-subtitle{
    width: 50%;
}
.form-title-and-subtitle .page-subtitle{
    width: 100%;
}
.form-overlay{
    padding: 0 var(--default-padding) 0 0 ; 
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 30%;
    gap: 16px;
}
.form-overlay input, .form-overlay select{
    height: 32px;
    padding: 0 8px;
    outline: 0;
    font-family: var(--default-font-family);
}

.form-overlay textarea{
    height: 96px;
    padding: 8px 8px;
    outline: 0;
    font-family: var(--default-font-family);
    resize: none; 
}

.form-overlay input[type="submit"]{
    background-color: var(--btn-color);
    color: var(--text-secondary);
    border: 0;
    outline: 0;
}

.form-overlay input[type="submit"]:hover{
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.form-overlay select{
    color: #3a3a3a;
}

.footer{
    width: 100%;
    height: 75vh;
}
.footer-wrapper{
    width: 100%;
    display: flex;
    gap: 16px;
}
.about{
    width: 40%;
}
.phone-container{
    display: flex;
    align-items: center;
    margin: 16px 0;
}
.phone-info{
    display: flex;
    flex-direction: column;
}
.phone-info span, .about h3, .footer-menu h3, .footer-drones h3, .footer-newsletter h3{
    margin: 0px;
    font-size: 22px;
    font-family: var(--default-font-family);
}
.footer-menu-wrapper ul li{
    list-style: none;
    margin-bottom: 6px;
}
.footer-menu-wrapper ul li:hover{
    color: var(--btn-color);
    cursor: pointer;
}
.footer-newsletter{
    width: fit-content;
}
.footer-newsletter .section-text{
    margin-top: 14px;
    display: block;
}
.input-email-wrapper{
    margin-top: 16px;
    position: relative;
    display: block;
    width: 100%;
    border-bottom: #9c9c9c 1px solid;
}
.input-email-wrapper input[type="email"]{
    width: 68%;
    box-sizing: border-box;
    background-color: 0;
    border: 0;
    outline: 0;
}
.input-email-wrapper input[type="submit"]{
    width: 30%;
    border: 0;
    outline: 0;
    background-color: transparent;
}
.input-email-wrapper input[type="submit"]:hover{
    cursor: pointer;
    color: var(--btn-color);
    font-weight: 600;
}
.bi-headset{
    font-size: 60px;
    color: var(--text-ternary);
}
.bi-headset::before{
    transform: translate(-7px, 3px);
}
.section-adress{
    margin: 0 0 16px 0;
}
.social-media i{
    font-size: 32px
}
::-webkit-scrollbar{
    width:5px
}
::-webkit-scrollbar-track{
    background:var(--default-bg);
    border-radius:5px;
}
::-webkit-scrollbar-thumb{
    background:var(--btn-color);
    border-radius:5px
}
::-webkit-scrollbar-thumb:hover{
    background: var(--btn-color-hover);
    
}

/* Para Firefox */
/* Largura da barra de rolagem */
* {
    scrollbar-width: thin; /* Tamanho da barra de rolagem */
    scrollbar-color: var(--btn-color) var(--default-bg); /* Cor da barra e fundo */
}

/* Estilizando a "track" da barra de rolagem */
*::-webkit-scrollbar-track {
    background: var(--default-bg); /* Cor de fundo */
    border-radius: 5px; /* Borda arredondada */
}

/* Estilizando o "pulso" da barra de rolagem */
*::-webkit-scrollbar-thumb {
    background: var(--btn-color); /* Cor do "pulso" */
    border-radius: 5px; /* Borda arredondada */
}

/* Mudar a cor ao passar o mouse sobre a barra */
*::-webkit-scrollbar-thumb:hover {
    background: var(--btn-color-hover); /* Nova cor ao passar o mouse */
}


:root{
    --default-padding: 5%;
    --text-secondary: #fff;
    --text-default: #000;
    --text-ternary: #3a3a3a;
    --text-quaternary: #6a6a6a;
    --header-bg-color: #fcfcfc;
    --default-font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    --titles: 55px;
    --subtitles: 36px;
    --text: 18px;
    --btn-color: green;
    --btn-hover-color: black;
}

@media screen and (max-width: 800px){
    :root{
        --titles: 40px;
    }
    .burger-menu{
        display: block;
    }
    .nav-header-menu{
        display: flex;
        align-items: center;
    }
    .header-menu{
        display: none;
    }
    .background-video-overlay, .background-video-overlay.centered{
        width: 100%;
        box-sizing: border-box;
    }
    .background-video-overlay .page-subtitle, .background-video-overlay.centered .page-title, .background-video-overlay.centered .page-subtitle{
        width: 100%;
        text-align: left;
    }
    .content-wrapper, .video-wrapper{
        flex-direction: column;
    }
    .floating-video-content{
        width: 100%;
    }
    .floating-video{
        width: 100%;
    }

    .cards-wrapper{
        gap: 5%;
        justify-content: flex-start;
    }
    .cards-wrapper .card{
        width: 30%;
    }
    section.section-longer > div.content-wrapper.column > div.video-wrapper{
       margin-top: 0;
    }
    .product-wrapper{
        flex-wrap: wrap;
    }
    .product-wrapper .products{
        width: 40%;
    }
    .products{
        height: 512px;
    }
    .special-products{
        flex-direction: column;
        width: 100%;
    }
    .special-product{
        width: 100%;
    }
    .footer-wrapper{
        flex-direction: column;
    }
    div.social-media{
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-around;
      
    }
    .footer-wrapper div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-wrapper div ul{width: 280px;}
}
@media screen and (max-width: 480px){
    .background-video-overlay.form{
        flex-direction: column;
    }
    .background-video-overlay.form{
        margin-top: var(--default-padding);
    }
    .form-title-and-subtitle{
        width: 100%;
    }
    .form-overlay{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        margin-top: 16px;
    }
    .cards-wrapper{
        gap: 5%;
        justify-content: flex-start;
    }
    .cards-wrapper .card{
        width: 45%;
    }
    .content-wrapper.column{
        height: auto;
    }
    .products{
        height: 400px;
    }
}

@supports (padding-top: constant(safe-area-inset-top)) {
  body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  }
}

@media (display-mode: fullscreen) {
  body {
    padding: 0;
  }
}

@media (display-mode: standalone) {
  body {
    padding: 0;
  }
}

/* Older browsers (which don't support CSS variables) */
body {
  height: 100%;
}